
@import "variables";
@import "mixins";

*{
  margin: 0;
  padding: 0;
}
.logo{
  width: 30%;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
}

.headerContent{
  height: 40px;
  background-color: darken($background, 10%);
  display: flex;
  align-items: center;
}
body{
  background-color: $background;
}
.hero{
  background-image: url("https://uc91c779861dad0c3be0e9f32f36.dl.dropboxusercontent.com/cd/0/inline/ARXtr3F6d7O4EpTxs89O__E1auyiPFgFR8hJDj-tH9HYCdsHWp_Bj369pqZbvdjazdA6-6kzrDLS5q6X7w6UvOmHJgMfNziICJ60rmxTxiG4nU6c80RI0z0BmRxWWZiP-jSQyCsdpF85PPmS0Wp_Z2BglpenYWC1RQmhJxoEZaJA91zb8j_tpt0uv_R61FKxYAc/file");
  width: 100%;
  height: 150px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  svg {
    position: relative;
    height: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}
