
@import "variables";
@import "mixins";

*{
  margin: 0;
  padding: 0;
}
.logo{
  width: 30%;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
}

.headerContent{
  height: 40px;
  background-color: darken($background, 10%);
  display: flex;
  align-items: center;
}
body{
  background-color: $background;
}
.hero{
  background-image: url("https://uc59de8e4ab9a6882d16019f1a74.dl.dropboxusercontent.com/cd/0/inline/ARQmiFvpvvt0Krojs2G-V2CSKlIU7I5ZMsPAgyM1e75HDz-AB9x771DxVjCyWbYDFF6uvIY7G35iN3yihtvuv30DZdroaxjKafefp3YTeFa1XlLOsTqjFBxmqcuZRrAuuTsZOJ1kSrJrtxeWI8zpUCgQ-LwoB3KYAGdPB41tUxaQqwQ_lkoCZ-8fHaBBcvxxX4E/file");
  width: 375px;
  height: 150px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  svg {
    position: relative;
    height: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}
